<h1>How To Help</h1>
<p>There are proven ways to reduce crime in a neighborhood. The most important thing is to get involved. Here are some things an every day citizen can do to have an impact on his or her neighborhood</p>