<div id="h2h" class="container text-center">

<div class="row">

	<div class="col-lg-1">
	</div>
	<div id="h2h-intro" class="col-lg-10 translucent">
	<h1>How To Help</h1>
	<p>There are proven ways to reduce crime in a neighborhood. The most important thing is to get involved and talk to your local government representative about enacting policies that will reduce crime. Here are some evidence-based initiatives to ask for in your neighborhood:</p>
	</div>
	<div class="col-lg-1">
	</div>


	</div>

<div class="row">

	<div class="col-lg-1">
	</div>
	<div class="col-lg-5 translucent">
		<h1>Community Policing</h1>
		<p>High-quality evidence shows that foot patrols cut violent crime. Simply having police around deters criminals, but it also allows communities to have repeated positive interactions with the police, building relationships that cut crime in a number of ways.</p>
	</div>

	<div class="col-lg-5 translucent">
		<h1>Drug Decriminalization</h1>
		<p>According to new reearch, the introduction of medical marijuana laws has led to a sharp reduction in violent crime in US states that border Mexico. Legal growers are in direct competition with Mexican drug cartels that are smuggling the marijuana into the US and lead to  a reduction in levels of drug-related violence</p>
	</div>
	<div class="col-lg-1">
	</div>


</div>


<div class="row">

	<div class="col-lg-1">
	</div>
	<div class="col-lg-5 translucent">
		<h1>Security Cameras</h1>
		<p>Yayyy Cameras! We're ProctorU and we love cameras so much! Moar cameras please! Watching. Always. Yay O.O</p>
	</div>

	<div class="col-lg-5 translucent">
		<h1>Get Involved</h1>
		<p>Ask your local elected representatives to enact these and other effictive crime-fighting measures in your neighborhood. Contact your <strong><a href="https://www.birminghamalcitycouncil.org/">city council</a></strong> and the <strong><a href="http://capwiz.com/state-al/dbq/officials/agencies/?id=165655&command=depresult2">Alabama Department of Public Safety</a></strong>. Also, if you're not already registered to vote, <strong><a href="https://www.alabamainteractive.org/sos/voter_registration/voterRegistrationWelcome.action">register today!</a></strong></p>
	</div>
	<div class="col-lg-1">
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
      <a href="/" align="center"><button class="btn btn-nice btn-lg">Search Another Zip Code</button></a>
  </div>
</div>
</div>
