<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="home-form" class="container">
<div id="home-form" class="row text-center">
	<div class="col-sm-12">
		<h1 class="font-italic">Safe Zone</h1>
		<input class="text-center" id="zip-input" placeholder="Enter Zip"></input>
		<h3>or</h3>
		<button class="btn btn-primary">Use My Location</button>
	</div>
</div>
</div>
