/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#home-form{
	padding-top: 25%;
}

li {
	list-style: none;
}

ul {
	padding: 0;
}

h3 {
	text-decoration: underline;
}

#location-show {
	padding-top: 5%;
}

.stats-container{
	display: flex;
	padding: 0 15% 0 15%;

	ul {
	  flex-grow: 1;
	}
}

@media (min-width: 600px) { 

	#home-form {
		padding-top: 7.5%;
	}

	#location-show {
		display: flex;
		font-size: 1.5em
	}

	.left-container, .right-container {
		flex-grow: 1;
	}

	.crime-map-sm {
		display: none;
	}


	.crime-map-lg {
		border: solid grey 1px;
		border-radius: 5%;
	}
}

@media (max-width: 600px) { 

	.crime-map-lg {
		display: none;
		border: solid grey 1px;
		border-radius: 5%;
	}

	.crime-map-sm {
		margin: auto;
		border: solid grey 1px;
		border-radius: 5%;
	}

	#home-form {
		padding-top: 50%;
	}
}

