<h1>
    <%= @location.zipcode %>
</h1>

<h1>Score: <%= @location.score %></h1>

<h1>Stats</h1>
<hr/>
<ul>
    <li>Theft
    <li>Robbery
    <li>Break-ins
    <li>Murder
    <li>Drug busts
</ul>
<hr/>

<button>Want to help improve this score?</button>
